@charset "utf-8";
body{background:#f7f5fa;}
#splitBar{background:#f7f5fa;}
#splitBarProxy{border-color:#c0c0c0; background:#f7f5fa;}
a{color:#c000ff; text-decoration:none;}
a:hover{color:#563d7c; text-decoration:underline;}
fieldset{border-color:#958da1;}
/* ---- Pages ----*/
/* Layout */
#sidebar{background:#f7f5fa; border:1px #563d7c solid;}
#header .headerNav{background:#9b87ba url(topbg.png);}
.toggleCollapse{background:#e5e3e9; border-bottom:1px #563d7c solid;}
.toggleCollapse div{background:#e5e3e9;}
.toggleCollapse div i{color:#563d7c;}
.toggleCollapse div:hover{background:#f7f5fa;}
#sidebar_s .collapse{background:#f7f5fa; border:1px #563d7c solid;}
#sidebar_s .collapse:hover{background:#e5e3e9;}
#sidebar_s .toggleCollapse{background:#f7f5fa;}
#sidebar_s .toggleCollapse div{color:#563d7c; background:#f7f5fa;}
#sidebar_s .toggleCollapse div:hover{background:#563d7c;}
#sidebar_s .toggleCollapse div:hover i{color:#f7f5fa;}
/* Pages default */
.pageHeader{background:#f7f5fa; border-bottom:1px #9b87ba solid;}
.pageHeader .moreSearch{background:#f7f5fa; border-bottom:1px #9b87ba solid;}
.pageHeader .j-showMoreSearch:hover{color:#c000ff;}
/* Tabs */
.tabs .tabsContent{border:1px #563d7c solid; border-top:none;}
.tabs .tabsHeader .nav-tabs{border-bottom-color:#563d7c;}
.tabs .tabsHeader .nav li > a{background-color:#f7f5fa; border:1px #918e95 solid; border-bottom-color:#563d7c;}
.tabs .tabsHeader .nav li > a:hover{color:#563d7c; background:#e5e3e9; border:1px #563d7c solid; border-bottom-color:transparent;}
.tabs .tabsHeader .nav li.selected a{color:#563d7c; font-weight:bold; background:#FFF; border:1px #563d7c solid; border-bottom-color:transparent;}
.tabsPage .tabsLeft, .tabsPage .tabsRight, .tabsPage .tabsMore{background-color:#f7f5fa !important; border:1px #918e95 solid;}
.tabsPage .tabsLeftHover,
.tabsPage .tabsRightHover,
.tabsPage .tabsMoreHover{background-color:#e5e3e9 !important;}
.tabsPage .tabsLeftDisabled{color:#999; background:#f7f5fa !important;}
.tabsPage .tabsRightDisabled{color:#999; background:#f7f5fa !important;}
.tabsPage .tabsMoreList{background:#f7f5fa; border-color:#918e95;}
.tabsPage .tabsMoreList li a:hover{color:#563d7c; background:#e5e3e9;}
.tabsPage .tabsMoreList li.active a{font-weight:bold; background:#e5e3e9;}
.tabsPage .tabsPageContent{background:#fefefe; border-color:#563d7c;}
.tabsPage .tabsPageHeaderContent .nav-tabs{border-bottom-color:#918e95;}
.tabsPage .tabsPageHeaderContent .nav li > a{padding:4px 16px 3px 10px; background-color:#f7f5fa; border:1px #918e95 solid; text-shadow:0 1px 0 #fff;}
.tabsPage .tabsPageHeaderContent .nav li > a:hover{color:#563d7c; background:#e5e3e9; border:1px #563d7c solid; border-bottom-color:transparent;}
.tabsPage .tabsPageHeaderContent .nav li.active a{color:#563d7c; font-weight:bold; background:#FFF; border:1px #563d7c solid; border-bottom-color:transparent;}
.tabsPage .tabsPageHeader, .tabsPage .tabsPageHeader li, .tabsPage .tabsPageHeader li a, .tabsPage .tabsPageHeader li span{background:none;}
.tabsPage .tabsPageHeader{background-color:none;}
.tabsPage .tabsPageHeader{border-color:none;}
.tabsPage .tabsPageHeader li a{color:#563d7c;}
.tabsPage .tabsPageHeader li .close,
.tabsPage .tabsPageHeader li:hover .close,
.tabsPage .tabsPageHeader li.selected .close{background:none;}
.tabsPage .tabsLeft, .tabsPage .tabsRight, .tabsPage .tabsMore{background:none;}
.tabsPage .tabsPageHeader .home_icon{background:none;}
/* Alert */
.j-alert{background:#f7f5fa;}
.j-alert .alertInner{border:1px #563d7c solid;}
.j-alert h1{border-bottom:1px #563d7c dotted;}
.j-alert .error i{color:#FF0000;}
.j-alert .info i{color:#563d7c;}
.j-alert .warn i{color:#f0ad4e;}
.j-alert .correct i{color:#5cb85c;}
.j-alert .confirm i{color:#FF6600;}
/* Dialog */
.dialog{background:#f7f5fa; border:1px #DDD solid;}
.dialog .dialogHeader{background:#e5e3e9; border-bottom:1px #563d7c solid;}
.dialog .dialogHeader a{color:#958da1 !important;}
.dialog .dialogHeader a:hover{color:#563d7c !important;}
.dialog .dialogHeader h1{color:#563d7c;}
.dialog .pageHeader{margin-bottom:0; border:1px #958da1 solid; border-bottom:none;}
.dialog .pageContent,
.dialog .pageTableContent{background-color:#fff; border:1px #958da1 solid;}
/* Dialog Resizable */
.resizable{border-color:#563d7c; background:#f7f5fa;}
/* Grid */
.panelBar{background:#f7f5fa; border-top:1px #563d7c solid;}
.pagination > li > a {color:#c000ff;}
.pagination > li > a:hover{color:#563d7c;}
.pagination > .selected > a,
.pagination > .selected > span,
.pagination > .selected > a:hover,
.pagination > .selected > span:hover,
.pagination > .selected > a:focus,
.pagination > .selected > span:focus{z-index:2; color:#ffffff; cursor:default; background-color:#9b87ba; border-color:#e5e3e9;}
.table > thead > tr > th{font-weight:bold; color:#563d7c; background:#f7f5fa; border-bottom-color:#563d7c;}
.table > thead > tr > th.orderby a.order:hover{background:#e5e3e9 !important;}
.table th.orderby a.order:hover span{color:#563d7c;}
.table th.orderby.asc a.order span.up{color:#563d7c;}
.table th.orderby.desc a.order span.down{color:#563d7c;}
.grid .resizeMarker, .grid .resizeProxy{background:#9b87ba;}
/* Table */
.table > thead > tr > th{background:#f7f5fa; border-bottom-color:#563d7c;}
.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th{background-color:#f7f5fa;}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th{background-color:#e5e3e9;}
/* Taskbar */
#taskbar{background-image:-webkit-linear-gradient(top, #563d7c 0%, #333333 100%); background-image:linear-gradient(to bottom, #563d7c 0%, #333333 100%); background-repeat:repeat-x; border-color:#dbdbdb; border-color:#ccc; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff563d7c', endColorstr='#ff333333', GradientType=0); filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);}
#taskbar li{background-image:-webkit-linear-gradient(top, #ffffff 0%, #e0e0e0 100%); background-image:linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%); background-repeat:repeat-x; border-color:#dbdbdb; border-color:#ccc; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0); filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);}
#taskbar li .taskbutton i{color:#563d7c;}
#taskbar li:hover{background:#f7f5fa;}
#taskbar .close{color:#9b87ba;}
#taskbar .close:hover{color:#563d7c;}
/* ProgressBar */
.progressBar{background:#FAFAFA; border:solid 2px #9b87ba;}
.progressBar i{color:#563d7c;}
/* rightMenu */
#contextmenu ul{background-color:#fff; border:1px solid #999;}
#contextmenu li{color:#563d7c; background-color:transparent; border:1px solid #fff;}
#contextmenu li:hover{background-color:#f7f5fa; border:1px solid #927ab5;}
#contextmenu li.disabled{color:#999;}
#contextmenu li.disabled:hover{cursor:default;}
/* calendar */
#calendar{border:1px solid #9b87ba;}
#calendar .head{background:#e5e3e9; border:1px solid #e3dced;}
#calendar .body{border:1px solid #e3dced;}
#calendar .foot{background:#f7f5fa; border:1px solid #e3dced;}
#calendar .days dd.slt{background:#e5e3e9; border:1px solid #9b87ba;}
#calendar .days dd:hover{border:1px solid #9b87ba;}
#calendar .days dd.other{color:#c7bbd8;}
#calendar .close i{color:#958da1;}
#calendar .close:hover i{color:#563d7c;}
#calendar .time td{border:1px solid #9b87ba;}
#calendar .time .up:hover, #calendar .time .down:hover{color:#FFF; background:#958da1;}
#calendar .tm .hh, #calendar .tm .mm, #calendar .tm .ss{background-color:#f7f5fa; border:1px solid #9b87ba;}
#calendar .tm .hh li:hover, #calendar .tm .mm li:hover, #calendar .tm .ss li:hover{background:#e5e3e9;}
/* suggest */
#suggest ul{background-color:#fff; border:1px solid #999;}
#suggest li{background-color:transparent; border:1px solid #fff;}
#suggest li.selected{background-color:#f7f5fa; border:1px solid #927ab5;}
/* ------------- bootcss ------------- */
.btn-sel:hover,
.btn-sel:focus{background-color:#e5e3e9; background-position:0 -15px; border-color:#958da1;}
.btn-sel:active,
.btn-sel.active{background-color:#e5e3e9; border-color:#958da1;}
.btn-tag{background-image:-webkit-linear-gradient(top, #f7f5fa 0%, #e5e3e9 100%); background-image:linear-gradient(to bottom, #f7f5fa 0%, #e5e3e9 100%); background-repeat:repeat-x; border-color:#aca7b5; border-color:#aca7b5; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff7f5fa', endColorstr='#ffe5e3e9', GradientType=0); filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);}
.btn-tag:hover,
.btn-tag:focus{background-color:#e5e3e9; background-position:0 -15px;}
.btn-tag:active,
.btn-tag.active{background-color:#e5e3e9; border-color:#958da1;}
.btn-tag .fa{color:#927ab5;}
.btn-default{color:#563d7c; background-color:#f7f5fa; border-color:#563d7c;}
.btn-default:hover,
.btn-default:focus{color:#FFF; background-color:#927ab5; border-color:#927ab5;}
.btn-close, .btn-red{color:red; background:#f7f5fa; border-color:#563d7c;}
.btn-orange{color:#FF6600; background:#f7f5fa; border-color:#563d7c;}
.btn-green{color:green; background:#f7f5fa; border-color:#563d7c;}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus{color:#262626; text-decoration:none; background-color:#e5e3e9;}
.label-tag{color:#927ab5; background-color:#f7f5fa;}
.label-tag:hover,
.label-tag:focus{background-color:#e5e3e9;}
.tag-input{color:#563d7c;}
.form-control{color:#563d7c; background-color:#ffffff; background-image:none; border:1px solid #cccccc;}
.form-control:focus{border-color:#9b87ba; -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(86, 61, 124, 0.6); box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(86, 61, 124, 0.6);}
.panel-default{border-color:#563d7c;}
.panel-default > .panel-heading{color:#563d7c; background-color:#f7f5fa; border-color:#563d7c;}
.panel-default > .panel-heading + .panel-collapse .panel-body{border-top-color:#563d7c;}
.panel-default > .panel-footer + .panel-collapse .panel-body{border-bottom-color:#563d7c;}
.panel-main .panel-default{border-top-color:#563d7c; border-bottom-color:#563d7c;}
.panel-main .panel-default .panel-heading .panel-title a.active,
.panel-main .panel-default .panel-heading .panel-title a:hover{background:#e5e3e9;}
/* ------- plugs ------- */
.icheckbox_minimal-purple,
.iradio_minimal-purple{background:url(purple.png) no-repeat;}
.icheckbox_minimal-purple{background-position:0 0;} .icheckbox_minimal-purple.hover{background-position:-20px 0;} .icheckbox_minimal-purple.checked{background-position:-40px 0;} .icheckbox_minimal-purple.disabled{background-position:-60px 0; cursor:default;} .icheckbox_minimal-purple.checked.disabled{background-position:-80px 0;}
.iradio_minimal-purple{background-position:-100px 0;} .iradio_minimal-purple.hover{background-position:-120px 0;} .iradio_minimal-purple.checked{background-position:-140px 0;} .iradio_minimal-purple.disabled{background-position:-160px 0; cursor:default;} .iradio_minimal-purple.checked.disabled{background-position:-180px 0;}
/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (-moz-min-device-pixel-ratio:1.5), only screen and (-o-min-device-pixel-ratio:1.5), only screen and (min-device-pixel-ratio:1.5){.icheckbox_minimal-purple, .iradio_minimal-purple{background-image:url(purple@2x.png); -webkit-background-size:200px 20px; background-size:200px 20px;}}
/*zTree*/
.ztree li a:hover{color:#c000ff;}
span.tmpzTreeMove_arrow,.ztree .tree_add, .ztree .tree_del,
.ztree li span.button{background-image:url(zTreeStandard.png);}
.ztree li a.curSelectedNode{background-color:#e5e3e9; color:black; border:1px #563d7c solid;}
.ztree li a.curSelectedNode_Edit{background-color:#e5e3e9; color:black; border:1px #563d7c solid;}
.ztree li a.tmpTargetNode_inner{background-color:#e5e3e9; color:white; border:1px #563d7c solid;}
ul.ztree.zTreeDragUL{background-color:#cfcfcf; border:1px #927ab5 dotted;}
ul.tmpTargetzTree{background-color:#e5e3e9;}
.tags-menu .tags-highlight{background-color:#e9e9e9;}
/*uploadify*/
.uploadify-button{color:#563d7c; background-color:#f7f5fa; border-color:#563d7c;}
.uploadify:hover .uploadify-button{color:#FFF; background-color:#927ab5; border-color:#927ab5;}